<div class="appbar" id="sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="justify-content-center nav secondary-navigation" role="" id="nav-ul">
          <li class="nav-item">
            <a id="overview_tab" class="nav-link active" data-toggle="" href="/details"><img alt="Overview"
                class="icon-overview"
                src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-overview-83d2a5a78054571c8b9d6453b0a5f46487028198c156991880c3b026623e2024.svg">
              <span class="navSpan">Overview</span>
            </a></li>
          <li class="nav-item">
            <a id="real-estate_tab" class="nav-link " data-toggle="" href="/realestate"><img alt="Real Estate"
                class="hidden-lg-down icon-house"
                src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-house-751658fa63a5b2460b48fbab1fd9247ad8039a1fe8d3f8292897dfc179788e05.svg">
              <span class="navSpan">Real Estate</span>
            </a></li>

          <li class="nav-item">
            <a id="crime_tab" class="nav-link " data-toggle="" href="/crime"><img alt="Crime"
                class="hidden-lg-down icon-handcuffs"
                src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-handcuffs-e85235da687257cb8a832e70a879b47d94abf52fc6b36537c07bff923fb26838.svg">
              <span class="navSpan">Crime</span>
            </a></li>
          <li class="nav-item">
            <a id="schools_tab" class="nav-link " data-toggle="" href="/schools"><img alt="School"
                class="hidden-lg-down icon-school"
                src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-school-770ec498d6ba362724dd5b8f0b9cf496d6e6d9be3c94cc3788439014a664f733.svg">
              <span class="navSpan">Schools</span>
            </a></li>
          <li class="nav-item">
            <a id="schools_tab" class="nav-link " data-toggle="" href="/citydetails"><img alt="School"
                class="hidden-lg-down icon-school"
                src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-school-770ec498d6ba362724dd5b8f0b9cf496d6e6d9be3c94cc3788439014a664f733.svg">
              <span class="navSpan">Transportation</span>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>