{{> appbar}}
<script src="../javascripts/jquery/jquery.min.js"></script>


<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Driving distance miles</th>
        <th scope="col">Driving time(mins)</th>
        <th scope="col">Public Transportation(mins)</th>
        <th scope="col">Cycling Distance (miles)</th>
        <th scope="col">Cycling Time (mins)</th>
        <th scope="col">Walking Distance (miles)</th>
        <th scope="col">Walking TİME (mins)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Districts</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>


    </tbody>
  </table>
</div>