
    <div class="container">
    <div class="col-12 col-lg-8">
      <h1 class="uppercase">
      <span>
      <span href="/ca">
      <span><h2 class="H2blue">KENTUCKY</h2></span>
      </span>
      </span>
      <div class="uppercase smallH1">Real Estate & Demographic Data</div>
      </h1>
      </div>
    </div>
      

    <div class="container-fluid secondary-navigation-wrapper" id="sticky">
        <section class="container">
            <div class="col-12 remove-left-right-padding" >
                <ul class="justify-content-center nav secondary-navigation" role=""id="nav-ul">
                <li class="nav-item">
                <a id="overview_tab" class="nav-link active" data-toggle="" href="/ky"><img alt="Overview" class="icon-overview" src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-overview-83d2a5a78054571c8b9d6453b0a5f46487028198c156991880c3b026623e2024.svg">
                <span class="navSpan">Overview</span>
                </a></li>
                <li class="nav-item">
                <a id="real-estate_tab" class="nav-link " data-toggle="" href="/ky/real-estate"><img alt="Real Estate" class="hidden-lg-down icon-house" src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-house-751658fa63a5b2460b48fbab1fd9247ad8039a1fe8d3f8292897dfc179788e05.svg">
                <span class="navSpan">Real Estate</span>
                </a></li>
                <li class="nav-item">
                <a id="demographics_tab" class="nav-link " data-toggle="" href="/ky/demographics"><img alt="Demographics" class="hidden-lg-down icon-people" src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-people-61dfd56eb92f7fc30bebb8fbb8358b594a63aa6216332c259726e634aa66ddd0.svg">
                <span class="navSpan">Demographics</span>
                </a></li>
                <li class="nav-item">
                <a id="crime_tab" class="nav-link " data-toggle="" href="/ky/crime"><img alt="Crime" class="hidden-lg-down icon-handcuffs" src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-handcuffs-e85235da687257cb8a832e70a879b47d94abf52fc6b36537c07bff923fb26838.svg">
                <span class="navSpan">Crime</span>
                </a></li>
                <li class="nav-item">
                <a id="schools_tab" class="nav-link " data-toggle="" href="/ky/schools"><img alt="School" class="hidden-lg-down icon-school" src="//production-nscout-static-lrsdmrzmrhqefpb9o.netdna-ssl.com/assets/icon-school-770ec498d6ba362724dd5b8f0b9cf496d6e6d9be3c94cc3788439014a664f733.svg">
                <span class="navSpan">Schools</span>
                </a></li>
                </ul>
                </div>
        </section>
        </div>

    <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
            <div style=" height: 500px;">
                    harita
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
            <div style="background-color: #2a3a48; height: 500px;">
                <div id="sliderLinks" class="maplite-links hidden-md-down slide-out active" style="z-index: 0;">
                    <h2><font color=white>Top Ten Highest Appreciating KY Cities Since 2000</font></h2>
              <ol>
                  <li><a href="">Bagdad</a></li>
                  <li><a href="">Morning View</a></li>
                  <li><a href="">Battletown</a></li>
                  <li><a href="">Pembroke</a></li>
                  <li><a href="">Booneville</a></li>
                  <li><a href="">Seneca Gardens</a></li>
                  <li><a href="">Parkway Village</a></li>
                  <li><a href="">Magnolia</a></li>
                  <li><a href="">Hillsboro</a></li>
                  <li><a href="">Parkers Lake</a></li>
              </ol>
            
                
                </div>
            </div>
      </div>
    </div>
    </div>
    </div>


    <div class="container" >
    <h3 >CRIME RATES FOR KENTUCKY</h3>
</div>
      
    <div class="container" id="info-head" style="margin-top: 70px;">  
        <h2 class="text-center vertical-center">KENTUCKY ANNUAL CRIMES</h2>
    </div>
     
    <div class="row">
            <div class="col">
            <div class="table-responsive table-index blue" style="width: 1000px; margin-left: 190px; margin-top: 50px;">
            <table class="table table-bordered">
            <thead>
            <tr>
            <th>&nbsp;</th>
            <th class="text-center">Violent</th>
            <th class="text-center">Property</th>
            <th class="text-center">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>
            <p>Number of Crimes</p>
            </td>
            <td class="text-center">
            <p>
            <strong>10,056</strong>
            </p>
            </td>
            <td class="text-center">
            <p>
            <strong>94,833</strong>
            </p>
            </td>
            <td class="text-center">
            <p>
            <strong>104,889</strong>
            </p>
            </td>
            </tr>
            <tr>
            <td>
            <p>
            Crime Rate
            <br>
            (per 1,000 residents)
            </p>
            </td>
            <td class="text-center">
            <p>
            <strong>2.26</strong>
            </p>
            </td>
            <td class="text-center">
            <p>
            <strong>21.29</strong>
            </p>
            </td>
            <td class="text-center">
            <p>
            <strong>23.55</strong>
            </p>
            </td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>

    <div class="container" id="info-head" style="margin-top: 70px;">  
            <h2 class="text-center vertical-center">VIOLENT CRIME</h2>
    </div>

    <div style="margin-left:90px; margin-top: 50px  ;">
    <h3>VIOLENT CRIME COMPARISON (PER 1,000 RESIDENTS)</h3>
    </div>
    <div style="margin-left: 90px; margin-top: 40px;" class="contains-chart" id="chart-cr-violent" data-highcharts-chart="2"><div id="highcharts-xpsqlp6-5" class="highcharts-container " style="position: relative; overflow: hidden; width: 1140px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: Lato, Arial, Helvetica, sans-serif; color: rgb(102, 102, 102); text-transform: none;"><svg version="1.1" class="highcharts-root" style="font-family:Lato, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-transform:none;fill:#666666;" xmlns="http://www.w3.org/2000/svg" width="1140" height="400" viewBox="0 0 1140 400"><desc>Created with Highstock 5.0.14</desc><defs><clipPath id="highcharts-xpsqlp6-6"><rect x="0" y="0" width="1089" height="350" fill="none"></rect></clipPath><clipPath id="highcharts-xpsqlp6-9"><rect x="0" y="0" width="1089" height="350" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="1140" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="41" y="10" width="1089" height="350"></rect><g class="highcharts-pane-group"></g><g class="highcharts-plot-lines-0"><path fill="none" stroke="#ddd" stroke-width="2" stroke-dasharray="6,2" d="M 41 304 L 1130 304" visibility="visible"></path></g><g class="highcharts-grid highcharts-xaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 1129.5 10 L 1129.5 360" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 40.5 10 L 40.5 360" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 41 360.5 L 1130 360.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 41 290.5 L 1130 290.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 41 220.5 L 1130 220.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 41 150.5 L 1130 150.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 41 80.5 L 1130 80.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 41 10.5 L 1130 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" x="41" y="10" width="1089" height="350"></rect><g class="highcharts-axis highcharts-xaxis "><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 1130.5 360 L 1130.5 370" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 40.5 360 L 40.5 370" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 41 360.5 L 1130 360.5"></path></g><g class="highcharts-axis highcharts-yaxis "><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 40.5 10 L 40.5 360"></path></g><g class="highcharts-series-group"><g class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker " transform="translate(41,10) scale(1 1)" clip-path="url(#highcharts-xpsqlp6-9)"><rect x="494.5" y="318.5" width="100" height="32" fill="#d8c15a" stroke="#ffffff" stroke-width="1" class="highcharts-point highcharts-color-0"></rect></g><g class="highcharts-markers highcharts-series-0 highcharts-column-series highcharts-color-undefined " transform="translate(41,10) scale(1 1)" clip-path="none"></g></g><g class="highcharts-data-labels highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker " transform="translate(41,10) scale(1 1)" opacity="1" visibility="visible"><g class="highcharts-label highcharts-data-label highcharts-data-label-color-0 " transform="translate(525,292)"><text x="5" style="font-size:14px;font-weight:bold;color:#000000;fill:#000000;" y="19"><tspan x="5" y="19" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">2.26</tspan><tspan x="5" y="19">2.26</tspan></text></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels "></g><g class="highcharts-axis-labels highcharts-yaxis-labels "></g><text x="1130" class="highcharts-credits" text-anchor="end" style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;" y="395">NeighborhoodScout.com</text></svg><div class="highcharts-axis-labels highcharts-xaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 556.5px; top: 368px; transform: rotate(0deg); transform-origin: 50% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">Kentucky</span></div><div class="highcharts-axis-labels highcharts-yaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 352px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">0</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 282px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">5</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 212px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">10</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 142px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">15</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 72px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">20</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: -16px; top: -10013px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip;" transform="translate(0,0)">25</span></div><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 12px; position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 1030px; top: 288px; visibility: visible;" class="highcharts-plot-line-label " visibility="visible">National Median:<br>4</span></div></div>
    
    <div class="container" id="info-head" style="margin-top: 70px;">  
            <h2 class="text-center vertical-center">PROPERTY CRIME</h2>
    </div>
    <div style="margin-left:90px; margin-top: 50px  ;">
            <h3>PROPERTY CRIME COMPARISON (PER 1,000 RESIDENTS)</h3>
            </div>
    
            <div style="margin-left: 90px;" class="contains-chart" id="chart-cr-property" data-highcharts-chart="1"><div id="highcharts-0htsf4j-3" class="highcharts-container " style="position: relative; overflow: hidden; width: 1140px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: Lato, Arial, Helvetica, sans-serif; color: rgb(102, 102, 102); text-transform: none;"><svg version="1.1" class="highcharts-root" style="font-family:Lato, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-transform:none;fill:#666666;" xmlns="http://www.w3.org/2000/svg" width="1140" height="400" viewBox="0 0 1140 400"><desc>Created with Highstock 5.0.14</desc><defs><clipPath id="highcharts-0htsf4j-4"><rect x="0" y="0" width="1081" height="350" fill="none"></rect></clipPath><clipPath id="highcharts-0htsf4j-8"><rect x="0" y="0" width="1081" height="350" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="1140" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="49" y="10" width="1081" height="350"></rect><g class="highcharts-pane-group"></g><g class="highcharts-plot-lines-0"><path fill="none" stroke="#ddd" stroke-width="2" stroke-dasharray="6,2" d="M 49 293 L 1130 293" visibility="visible"></path></g><g class="highcharts-grid highcharts-xaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 1129.5 10 L 1129.5 360" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 48.5 10 L 48.5 360" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 49 360.5 L 1130 360.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 290.5 L 1130 290.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 220.5 L 1130 220.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 150.5 L 1130 150.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 80.5 L 1130 80.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 10.5 L 1130 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" x="49" y="10" width="1081" height="350"></rect><g class="highcharts-axis highcharts-xaxis "><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 1130.5 360 L 1130.5 370" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 48.5 360 L 48.5 370" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 49 360.5 L 1130 360.5"></path></g><g class="highcharts-axis highcharts-yaxis "><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 48.5 10 L 48.5 360"></path></g><g class="highcharts-series-group"><g class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker" transform="translate(49,10) scale(1 1)" clip-path="url(#highcharts-0htsf4j-8)"><rect x="490.5" y="290.5" width="100" height="60" fill="#d8c15a" stroke="#ffffff" stroke-width="1" class="highcharts-point highcharts-color-0"></rect></g><g class="highcharts-markers highcharts-series-0 highcharts-column-series highcharts-color-undefined " transform="translate(49,10) scale(1 1)" clip-path="none"></g></g><g class="highcharts-data-labels highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker" transform="translate(49,10) scale(1 1)" opacity="1" visibility="visible"><g class="highcharts-label highcharts-data-label highcharts-data-label-color-0 " transform="translate(517,264)"><text x="5" style="font-size:14px;font-weight:bold;color:#000000;fill:#000000;" y="19"><tspan x="5" y="19" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round" style="">21.29</tspan><tspan x="5" y="19">21.29</tspan></text></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels "></g><g class="highcharts-axis-labels highcharts-yaxis-labels "></g><text x="1130" class="highcharts-credits" text-anchor="end" style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;" y="395">NeighborhoodScout.com</text></svg><div class="highcharts-axis-labels highcharts-xaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 560.5px; top: 368px; transform: rotate(0deg); transform-origin: 50% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">Kentucky</span></div><div class="highcharts-axis-labels highcharts-yaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 26px; top: 352px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">0</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 282px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">25</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 212px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">50</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 142px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">75</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 72px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">100</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: -24px; top: -10013px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip;" transform="translate(0,0)">125</span></div><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 12px; position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 1030px; top: 277px; visibility: visible;" class="highcharts-plot-line-label " visibility="visible">National Median:<br>24</span></div></div>


            <div class="container" id="info-head" style="margin-top: 70px;">  
                    <h2 class="text-center vertical-center">CRIMES PER SQUARE MILE</h2>
            </div>
            <div style="margin-left: 80px; margin-top: 50px;" class="contains-chart" id="chart-cr-crimes-per-sq-mile" data-highcharts-chart="0"><div id="highcharts-0htsf4j-0" class="highcharts-container " style="position: relative; overflow: hidden; width: 1140px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: Lato, Arial, Helvetica, sans-serif; color: rgb(102, 102, 102); text-transform: none;"><svg version="1.1" class="highcharts-root" style="font-family:Lato, Arial, Helvetica, sans-serif;font-size:12px;color:#666666;text-transform:none;fill:#666666;" xmlns="http://www.w3.org/2000/svg" width="1140" height="400" viewBox="0 0 1140 400"><desc>Created with Highstock 5.0.14</desc><defs><clipPath id="highcharts-0htsf4j-1"><rect x="0" y="0" width="1081" height="350" fill="none"></rect></clipPath><clipPath id="highcharts-0htsf4j-7"><rect x="0" y="0" width="1081" height="350" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="1140" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="49" y="10" width="1081" height="350"></rect><g class="highcharts-pane-group"></g><g class="highcharts-plot-lines-0"><path fill="none" stroke="#ddd" stroke-width="2" stroke-dasharray="6,2" d="M 49 316 L 1130 316" visibility="visible"></path></g><g class="highcharts-grid highcharts-xaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 1129.5 10 L 1129.5 360" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 48.5 10 L 48.5 360" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid "><path fill="none" class="highcharts-grid-line" d="M 49 360.5 L 1130 360.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 290.5 L 1130 290.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 220.5 L 1130 220.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 150.5 L 1130 150.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 80.5 L 1130 80.5" opacity="1"></path><path fill="none" class="highcharts-grid-line" d="M 49 10.5 L 1130 10.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" x="49" y="10" width="1081" height="350"></rect><g class="highcharts-axis highcharts-xaxis "><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 1130.5 360 L 1130.5 370" opacity="1"></path><path fill="none" class="highcharts-tick" stroke="#ccd6eb" stroke-width="1" d="M 48.5 360 L 48.5 370" opacity="1"></path><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 49 360.5 L 1130 360.5"></path></g><g class="highcharts-axis highcharts-yaxis "><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" d="M 48.5 10 L 48.5 360"></path></g><g class="highcharts-series-group"><g class="highcharts-series highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker" transform="translate(49,10) scale(1 1)" clip-path="url(#highcharts-0htsf4j-7)"><rect x="490.5" y="309.5" width="100" height="41" fill="#d8c15a" stroke="#ffffff" stroke-width="1" class="highcharts-point highcharts-color-0"></rect></g><g class="highcharts-markers highcharts-series-0 highcharts-column-series highcharts-color-undefined " transform="translate(49,10) scale(1 1)" clip-path="none"></g></g><g class="highcharts-data-labels highcharts-series-0 highcharts-column-series highcharts-color-undefined highcharts-tracker" transform="translate(49,10) scale(1 1)" opacity="1" visibility="visible"><g class="highcharts-label highcharts-data-label highcharts-data-label-color-0 " transform="translate(528,283)"><text x="5" style="font-size:14px;font-weight:bold;color:#000000;fill:#000000;" y="19"><tspan x="5" y="19" class="highcharts-text-outline" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="2px" stroke-linejoin="round">29</tspan><tspan x="5" y="19">29</tspan></text></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels "></g><g class="highcharts-axis-labels highcharts-yaxis-labels "></g><text x="1130" class="highcharts-credits" text-anchor="end" style="cursor:pointer;color:#999999;font-size:9px;fill:#999999;" y="395">NeighborhoodScout.com</text></svg><div class="highcharts-axis-labels highcharts-xaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 560.5px; top: 368px; transform: rotate(0deg); transform-origin: 50% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">Kentucky</span></div><div class="highcharts-axis-labels highcharts-yaxis-labels " style="position: absolute; left: 0px; top: 0px; opacity: 1;"><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 26px; top: 352px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">0</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 18px; top: 282px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">50</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 212px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">100</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 142px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">150</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: 10px; top: 72px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip; opacity: 1;" transform="translate(0,0)" opacity="1">200</span><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 14px; position: absolute; white-space: nowrap; color: rgb(102, 102, 102); cursor: default; margin-left: 0px; margin-top: 0px; left: -24px; top: -10013px; transform: rotate(0deg); transform-origin: 100% 14px; text-overflow: clip;" transform="translate(0,0)">250</span></div><span style="font-family: Lato, Arial, Helvetica, sans-serif; font-size: 12px; position: absolute; white-space: nowrap; margin-left: 0px; margin-top: 0px; left: 1030px; top: 300px; visibility: visible;" class="highcharts-plot-line-label " visibility="visible">National Median:<br>31.1</span></div></div>
    