{{> appbar}}
<script src="../javascripts/jquery/jquery.min.js"></script>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Violent</th>
        <th scope="col">Property</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Number Of Crimes</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">Crime Rate
          (per 1,000 residents)</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>

    </tbody>
  </table>
</div>
<div class="container" style="border:1px solid red"></div>

<div class="container mt-3">
  <div class="row row-header d-flex justify-content-center align-items-center">
    <h3 style="text-align: center;" class="text-white ">540 Total Statistic,45 alert found</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">MURDER
          INDEX</th>
        <th scope="col">MURDER
          INDEX</th>
        <th scope="col">ROBBERY
          INDEX</th>
        <th scope="col">ASSAULT
          INDEX</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>

        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>Thornton</td>
      </tr>


    </tbody>
  </table>
  <hr>

</div>