{{> appbar}}
<script src="../javascripts/jquery/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<div class="container mt-3">
  <div class="row row-header d-flex justify-content-center align-items-center">
    <h3 style="text-align: center;" class="text-white ">540 Total Statistic,45 alert found</h3>
  </div>
  <table class="detail-table" id="table" data-toggle="table" data-flat="true" data-search="true"
    data-url="json/data3.json">
    <thead>
      <tr>
        <th data-sortable="true">
          <ion-icon name="home"></ion-icon>Real Estate
        </th>
        <th data-sortable="true">
          <ion-icon name="lock"></ion-icon>Crime
        </th>
        <th data-sortable="true">
          <ion-icon name="contacts"></ion-icon>School
        </th>
        <th data-sortable="true">Description</th>
      </tr>
    </thead>
  </table>
</div>

<br />
<br />
<br />

<div class="container">
  <div class="row">
    <div class="col-md-6 col-12">
      <div class="tab-pane" id="add-comment-disabled">
        <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span
                  class="glyphicon glyphicon-send"></span> Summit comment</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-10 col-md-11">
                <div class="comment-text">
                  Awesome design
                </div>
                <div class="mic-info">
                  By: <a href="#">Bhaumik Patel</a>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>