<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <title>First Page</title>
  </head>
  <body>
    {{{body}}}
    <script src="../javascripts/jquery/jquery.min.js"></script>
    <script src = '../stylesheets/bootstrap.min.css'>
    </script>
    <script src="../javascripts/index.js"></script>
  </body>
</html>
