<div class="form-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <form class="form-signin" action="/login" , method="POST">

          <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>
          <label for="inputUsername" class="sr-only">Enter Username</label>
          <input type="text" id="inputUsername" class="form-control" placeholder="username" name="username" required
            autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"
            required>

          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
          <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
          {{#if msg}}
          <div class="alert alert-danger">{{msg}}</div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>