<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-top">
      <h4>Match the neighboorhood</h4>
    </div>
    <div class="sidebar-body">
      <h5><span><img style="width: 30px; margin-right:10px;" src="/images/location.svg" /></span>Find neighboorhood</h5>
      <input type="text" placeholder="Enter adress,city or coord" />
      <a class="next-btn" href="#">Next</a>
    </div>
  </div>
  <div class="map" id="map">
  </div>
</div>