<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-top">
      <h4>Match the neighboorhood</h4>
    </div>
    <div class="sidebar-body">
      <h5><span><img style="width: 30px; margin-right:10px;" src="/images/location.svg" /></span>Find neighboorhood</h5>
      <input id="searchKey" type="text" placeholder="Enter adress,city or coord" />
      <a class="next-btn" href="#">Next</a>
      <div class="results"></div>
    </div>
  </div>
  <div class="map" id="map">

  </div>
</div>
<script src="../javascripts/jquery/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    ymaps.ready(init);
    function getLocate(locations) {
      myMap.geoObjects.add(new ymaps.Placemark(locations));
    }
    function init() {
      var coords = [];
      var myMap = new ymaps.Map('map', {
        center: [51.52026933, -0.095],
        zoom: 10,
      });
      searchKey = window.location.search.substring(1).split('=')[1];
      if (searchKey !== undefined) {
        $('#searchKey').val(searchKey);
        var myGeocoder = ymaps.geocode(searchKey, {
          boundedBy: myMap.getBounds(), // [[50.259998, -5.269000],[54.906101, -1.080278 ]],
          strictBounds: true,
        });
        myGeocoder.then(function (res) {
          locationCount = res.metaData.geocoder.results;
          for (let i = 0; i < locationCount; i++) {
            var name =
              res.geoObjects.get(i).properties.get('name') +
              ' - ' +
              res.geoObjects.get(i).properties.get('description');
            $('.results').append(
              '<div class="result-list">' +
              ' <div class="result-list-numbering">' +
              (i + 1) +
              '.</div>' +
              ' <div class="result-list-text">' +
              '        <div class="result-list-link">' +
              name +
              '</div>' +
              ' </div>' +
              ' <div class="result-list-icon" ><a class="locate"><i class="icon ion-md-locate" data-location="' +
              res.geoObjects.get(i).geometry.getCoordinates() +
              '"></i></a></div>' +
              '<div>',
            );
            myMap.geoObjects.add(
              new ymaps.Placemark(
                res.geoObjects.get(i).geometry.getCoordinates(),
              ),
            );
          }
        });
      }
      $('.results').click(function (e) {
        if (e.target.localName === 'i') {

          myMap.setCenter(e.target.dataset.location.split(','));
          myMap.setZoom(15, { duration: 1000 });
        }
      });
      $('.next-btn').click(function (e) {
        window.location.href = 'match?s=' + $('#searchKey').val();
      });


      $.ajax({
        type: 'POST',
        url: '/londonmap',
        dataType: 'json',
        success: function (data) {

          for (let i = 0; i < data.length; i++) {
            myMap.geoObjects.add(
              new ymaps.Polygon(
                [JSON.parse(data[i].coordinates)],
                {
                  hintContent: data[i].lad,
                },
                {
                  fillColor: '#00FF0088',
                  strokeWidth: 1,
                  region: data[i].lad,
                },
              ),
            );

          }
        },
        error: function (err) {

        },
      });
      myMap.geoObjects.events.add('click', function (e) {
        // Getting a reference to the child object where the event occurred.
        var object = e.get('target');

        window.location.href = '/main/' + object.options._options.region;

      });
    }
  });

</script>