{{> appbar}}
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<div class="container">
  <div id="resizable" style="height: 370px;border:1px solid gray;">
    <div id="chartContainer1" style="height: 100%; width: 100%;"></div>
  </div>
</div>
<br />
<br />
<div class="container">
  <div class="row row-header d-flex justify-content-center align-items-center">
    <h3 style="text-align: center;" class="text-white ">Average Home Prices and tax rate</h3>
  </div>
  <div class="row realestate-values">
    <div class="col-md-6 col-12 d-flex justify-content-around align-items-center">
      <div>
        <ion-icon style="font-size: 40px;" name="home"></ion-icon>
      </div>
      <div class="home-values">
        <h3>Average Home value</h3>
        <p>500$</p>
      </div>

    </div>
    <div class="col-md-6 col-12 d-flex justify-content-around align-items-center">
      <div>
        <ion-icon style="font-size: 40px;" name="wallet"></ion-icon>
      </div>
      <div class="tax-rates">

        <h3>Tax rates</h3>
        <p>600$</p>
      </div>
    </div>
  </div>
</div>
<br />
<br /><br />
<br />

<script>
  window.onload = function () {

    // Construct options first and then pass it as a parameter
    var options1 = {
      animationEnabled: true,
      title: {
        text: "Chart inside a jQuery Resizable Element"
      },
      data: [{
        type: "column", //change it to line, area, bar, pie, etc
        legendText: "Try Resizing with the handle to the bottom right",
        showInLegend: true,
        dataPoints: [
          { y: 10 },
          { y: 6 },
          { y: 14 },
          { y: 12 },
          { y: 19 },
          { y: 14 },
          { y: 26 },
          { y: 10 },
          { y: 22 }
        ]
      }]
    };

    $("#resizable").resizable({
      create: function (event, ui) {
        //Create chart.
        $("#chartContainer1").CanvasJSChart(options1);
      },
      resize: function (event, ui) {
        //Update chart size according to its container size.
        $("#chartContainer1").CanvasJSChart().render();
      }
    });

  }
</script>