{{>appbar}}

<div class="container">
  <div id="resizable" style="height: 370px;border:1px solid gray;">
    <div id="chartContainer1" style="height: 100%; width: 100%;"></div>
  </div>
</div>

<script>
  window.onload = function () {

    // Construct options first and then pass it as a parameter
    var options1 = {
      animationEnabled: true,
      title: {
        text: "Table of school ratings"
      },
      data: [{
        type: "column", //change it to line, area, bar, pie, etc
        legendText: "Try Resizing with the handle to the bottom right",
        showInLegend: true,
        dataPoints: [
          { label: 'leiceste', y: 1 },
          { label: 'warwick', y: 2 },
          { label: 'sheffield', y: 14 },
          { label: 'middlesborough', y: 12 },
          { label: 'reading', y: 19 },
          { label: 'portsmouth', y: 14 },
          { label: 'winchester', y: 26 },
          { label: '', y: 10 },
          { label: 'isa', y: 22 },

        ]
      }]
    };

    $("#resizable").resizable({
      create: function (event, ui) {
        //Create chart.
        $("#chartContainer1").CanvasJSChart(options1);
      },
      resize: function (event, ui) {
        //Update chart size according to its container size.
        $("#chartContainer1").CanvasJSChart().render();
      }
    });

  }
</script>