.appbar {
  padding: 20px 0px;
  margin: 10px 0px;
}

.styled-tab {
  margin-top: 10px;
  box-shadow: 3px 3px 15px #bbb;
  padding: 10px 0px;
}
.styled-tab ul li a {
  color: #0394fc !important;
  cursor: pointer;
}

.row-header {
  background: red;
  height: 70px;
}

.detail-table thead tr th {
  text-align: center;
}

.hydrated {
  font-size: 20px;
}

.realestate-values {
  height: 150px;
  border: 1px solid;
  margin-top: 20px;
}
