@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
  font-family: 'Open Sans';
}
/* Navbar Component*/
.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  box-shadow: 0px 0px 5px 0px #00000040;
}
.navbar .brand-navbar {
  display: flex;
  flex: 3;
}
.brand-navbar img {
  width: 40px;
}
.navbar .items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  flex: 1;
  margin-bottom: 0;
}
.navbar .items li {
  margin: 0px 20px;
}
.navbar .items li a {
  text-decoration: none;
  color: #333;
}
/* Showcase Component*/
.showcase {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./../images/london.jpg') no-repeat center center;
  background-size: cover;
  max-width: 100%;
}
.showcase .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 400px;
}
.showcase .content h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.showcase .content input[type='text'] {
  border: 1px solid #000;
  padding: 20px 10px;
  width: 70%;
}
.showcase .content .search-btn {
  width: 160px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  padding: 12px 0px;
  border-radius: 4px;
  background: #fff;
  text-decoration: none;
  color: #000;
}
.search-btn img {
  width: 30px;
}
.showcase .showcase-bg {
  width: 100%;
  height: inherit;
  position: absolute;
  background-color: #000;
  opacity: 0.3;
}
