.H2blue{
    color: deepskyblue;
}
#Pblue{
    color: deepskyblue;
}

.text-Info {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 1.75rem;
    font-size: 1.525rem;
    line-height: 2.75rem;
    font-family: "Lato", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #5d5d5d;
}

  a {
    color: #007bff;
    font-family: "Lato", "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  .slide-out ol li a {
    color: #fff;
  }
  
  .slide-out ol li {
    width: 80%;
    background: #334350;
  
    margin: 5px 0;
    margin-left: 50px;
    padding: 8px 15px;
    color: white;

  }
  
  .slide-out ol {
    list-style-position: inside;
    padding-left: 0;
  } 

  #header-mapdown{
    padding-top: 80px;
    padding-right: 400px;
  }

  #info-head{
    background-color: #2a3a48; 
    height: 50px; 
    color: white;
  }
  #chart-re-home-price{
      margin-left: 115px;
  }


  