
.Header{
  background-color: #2a3a48;
  border-bottom: 3px solid ;
}

.container{
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;

}
.header-menu{
  margin-left: auto;
  display: flex;
}

.header-menu-user {
  margin-right: 10px;
  display: flex;
}
.header-menu-user a{
  margin-right: 60px;
  color: white;
}

.header-menu-subscribe-login{
   color: white;
  margin-right: 10px;
  display: flex;
}
.header-menu-subscribe-login a{
  color: white;
  margin-right: 10px;
  display: flex;

}
.menu-button{
  color: white;
  margin-right: -70px;
  margin-left: 10px;
  display: flex;
}
